
{% if site.data.data.awards %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-trophy"></i>{{site.data.data.awards.title}}</h2>

{% for award in site.data.data.awards.awards %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ award.role }}</h3>
        <div class="time">{{ award.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ award.company }}</div>

    </div><!--//meta-->

    {% if award.details %}
    <div class="details">
      <p>{{ award.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
