
<style>
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
    
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

</style>
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-envelope"></i>Contact Me</h2>

  <div class="item">

    <form method="POST" action="https://formspree.io/pieter@legal.io">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div><!--//item-->

</section><!--//section-->
