
<style>
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
    
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
    
.btn {
  color: #ffffff;
  font-size: 26px;
  background: #4b6a78;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c5460;
  text-decoration: none;
}

</style>
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-envelope"></i>Contact Me</h2>

  <div class="item">

    <form method="POST" action="https://formspree.io/pieter@legal.io">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button class="btn" type="submit">Send</button>
    </form>
  </div><!--//item-->

</section><!--//section-->
