<style>
   
.btn {
  color: #ffffff;
  font-size: 20px;
  background: #4b6a78;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #3c5460;
  text-decoration: none;
  color: #ffffff;
}
</style>
<section class="section experiences-section">
  <h2 class="section-title" style="text-align:center; margin-top:120px"><i class="fa fa-check"></i>Message Sent!</h2>
   <div style="text-align:center;">
      <p> I have received your message and will respond as soon as possible.</p>
      <a class="btn" style="margin-top:40px">Go back</a>
   </div>



</section><!--//section-->
